.card_stretch {
  height: 100%;
}

.snapper {
  position: sticky;
  top: 0;
}

.snapper .left {
  float: left;
  margin-left: 35px;
}
.snapper .right {
  float: left;
  margin-left: 280px;
}

body, .card {
  background-color: #0040a6;
  color: white;
}

.card {
  border-color: aliceblue;
}

.title {
  font-weight: bolder;
  font-size: 5em;
}

#emotion-graph {
  position: static;
}